In [2]:
import pandas as pd

In [3]:
data = {
    'x' : [4, 5, 2, 3, 1], 
    'y' : [2, 1, 4, 3, 5]
}
df = pd.DataFrame(data)[]
df

   x  y
0  4  2
1  5  1
2  2  4
3  3  3
4  1  5

In [4]:
df['x'].corr(df['y'])

-0.9999999999999999